#!/usr/bin/env bash

VM_PREFIX='myfederation'
FEDERATION='fed1'

case $1 in
    start)
        vagrant up --parallel /wk/
        # vagrant ssh mipadmin@${VM_PREFIX}-${FEDERATION}-wk1 (wk1), vagrant ssh mipadmin@${VM_PREFIX}-${FEDERATION}-wk2 (wk2)

        vagrant up --no-provision ${VM_PREFIX}-${FEDERATION}-ms
        vagrant provision ${VM_PREFIX}-${FEDERATION}-ms
        # vagrant ssh mipadmin@${VM_PREFIX}-${FEDERATION}-ms

        vagrant up --no-provision ${VM_PREFIX}-${FEDERATION}-ui
        vagrant provision ${VM_PREFIX}-${FEDERATION}-ui
        # Manually in nc-ui: vagrant ssh mipadmin@${VM_PREFIX}-${FEDERATION}-ui
        # - Assign a floating IP
        # - Prepare public DNS matching the floating
        # sudo /vagrant/mip-deployment/mip --node-type ui --force --host <DNS_NAME> configure host
        # /vagrant/mip-deployment/mip restart

        vagrant up --no-provision ${VM_PREFIX}-${FEDERATION}-pusher
        vagrant provision ${VM_PREFIX}-${FEDERATION}-pusher

        # Manually in nc-pusher: vagrant ssh mipadmin@${VM_PREFIX}-${FEDERATION}-pusher
        # sudo /vagrant/mip-deployment/mip --pusher --federation ${FEDERATION} configure pusher
        ;;
    stop)
        vagrant destroy --parallel
        ;;
esac
