#!/bin/bash

directory="dev_repos"
source_path="../.."


mountpoint_path=$(realpath ./$directory)
source_path=$(realpath $source_path/$directory)

if [[ -d $mountpoint_path ]]; then
	ret=1
	mountpoint_target=$(findmnt -T $mountpoint_path | grep "^$mountpoint_path" | awk '{print $2}' | awk -F '[' '{print $2}' | awk -F ']' '{print $1}')
	if [[ "$mountpoint_target" != "" ]]; then
		sudo umount $mountpoint_path
	fi
	if [[ "$(ls -A $mountpoint_path)" = "" ]]; then
		rmdir $mountpoint_path
		ret=$?
	fi
	if [[ $ret -eq 0 ]]; then
		echo "\"$mountpoint_path\" successfully unmounted from \"$mountpoint_target\"."
	fi
else
	ret=1
	mountpoint_source="$source_path"
	if [[ -d $(dirname $mountpoint_source) ]]; then
		mkdir $mountpoint_path
		sudo mount --bind $mountpoint_source $mountpoint_path
		ret=$?
	fi
	if [[ $ret -eq 0 ]]; then
		echo "\"$mountpoint_path\" successfully mounted on \"$mountpoint_source\"."
	fi
fi
